.mat-dialog-container {
    display: block;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.alert {
    width: 100%;
    background-color: darkred;
}